

body {
background-color: #e3dbd8;
font-family: gravesend-sans, sans-serif;
font-weight: 500;
font-style: normal;

}

h1 {
  color: ##87817f;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
